@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Antique+Soft&display=swap');

@import "buttons.css";

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
html {
    scroll-behavior: smooth;
}
body {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: 'Playfair Display', serif;
    background-color: rgba(225, 225, 225, 0.664);
    overflow-y: scroll;
    position: relative; 
}
/* ############################# NavBars ############################# */
/* Start Main Page Navbar */
.navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    padding: 0;
    z-index:1;
    transition: 0.6s;
}
.navbar a {
    color: inherit;
    color: white;
}
.nav-item a {
    font-size: 1.1em;
}
.nav-item a:hover {
    color: #be9342 !important;
    text-decoration: underline;
    transition: 0.6s;
}
.navbar-brand {
    font-family: 'Dancing Script', cursive;
    font-size: 2.2em;
    text-align: left;
    margin-left: 7.5em;
    transition: 0.6s;
}
.navbar-nav {
    margin-right: 5em;
}
.nav-link.active {
    text-decoration: underline;
}
.navbar-toggler {
    border-color: white;
    margin-right: 1em;
}
.navbar-toggler i {
    color: white;
}
.navbar-collapse {
    margin-left: 1em;
}
.navbar:hover {
    background-color:white;
    color: black;
    transition: 0.6s;
}
.navbar:hover a {
    transition: 0.5s;
    color: black;
}
.navbar:hover .navbar-toggler i {
    color: black;
    transition: 0.6s;
}
.navbar:hover .navbar-toggler {
    border-color: black;
    transition: 0.6s;
}

    /* Scroll JS Classes */
    .nav-colored {
        background-color:white;
        color: black;
        transition: 0.5s;
        border-bottom: 1px solid rgba(172, 172, 172, 0.507);
    }
    .nav-colored.navbar a {
        color: black;
        transition: 0.5s;
    }
    .nav-colored.navbar .navbar-toggler {
        border-color: black;
        transition: 0.5s;
    }
    .nav-colored.navbar .navbar-toggler i {
        color: black;
    }
    .nav-transparent { 
        background-color:transparent;
    }
    /* End Scroll JS Classes */

/* End Main Page Navbar */

/* Start White Navbar */
#navbar {
    background-color: rgb(238, 238, 238);
}
#navbar a {
    color: black;
}
#navbar a:hover {
    color: #be9342;
}
#navbar-toggler {
    border-color: black;
}
/* End White Navbar */
/* ############################# End NavBars ############################# */

/* ############################# Start Header ############################# */
.header {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)), url("../image/main-page.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 720px;
}
.header-content {
    position: absolute;
    top: 5%;
    left: 45%;
    color: white;
    text-align: center;
    -webkit-animation: fadein 1s;
}
.header-description {
    -webkit-animation: fadein 3s;
}
/* ############################# End Header ############################# */

/* ############################# Start Page Banners ############################# */
.about-banner {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)), url("../image/about-banner.jpg");
    background-position: right 50% bottom 20%;
    background-size: cover;
    height: 400px;
    background-color: #ffffff;
}
.team-banner {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)), url("../image/team-banner.jpg");
    background-position: right 50% bottom 20%;
    background-size: cover;
    height: 400px;
    background-color: #ffffff;
}
.services-banner {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)), url("../image/service-banner.jpg");
    background-position: right 50% bottom 20%;
    background-size: cover;
    height: 400px;
    background-color: #ffffff;
}
.gallery-banner {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)), url("../image/service-banner.jpg");
    background-position: right 50% bottom 20%;
    background-size: cover;
    height: 400px;
    background-color: #ffffff;
    margin-bottom: 40px;
}
.banner-content {
    padding-top: 150px;
    color: white;
}
.banner-content h1 {
    font-size: 50px;
    text-align: center;
}
.banner-content hr {
    width: 210px;
    border-width: 2px;
    background-color: #be9342;
    text-align: center;
}
/* ############################# End Page Banners ############################# */

/*
############################# Start Footer #############################
*/
footer h6 {
    margin-bottom: 40px;
    position: relative;
}
footer h6:after {
    position: absolute;
    content: "";
    background: grey;
    width: 12%;
    height: 1px;
    left: 0;
    bottom: -20px;
}
.btn-footer {
    color: black;
    text-decoration: none;
    border: 1.5px solid;
    border-radius: 43px;
    font-size: 13px;
    padding: 7px 30px;
    line-height: 47px;
}
.btn-footer:hover {
    color: #be9342;
    text-decoration: none;
}
.social .fa {
    color: white;
    font-size: 22px;
    padding: 10px 15px;
    background: #3c3c3c;
}
.social .fa:hover {
    color: #be9342;
}
footer ul li {
    list-style: none;
    display: block;
}
footer ul {
   padding-left: 0;
}
footer ul li a {
    text-decoration: none;
    color: grey;
}
a:hover {
    text-decoration: none;
    color: #be9342;
}
.logo-footer {
    font-family: 'Dancing Script', cursive;
    font-size: 2.2em;
    color: inherit;
}
.logo-footer a:hover {
    color: #be9342;
}
.logo-part {
    border-right: 1px solid grey;
    height: 100%;
}
.author-link {
    color: inherit;
    text-decoration: underline;
}    
/* ############################# End Footer ############################# */

/* ############################# Sections ############################# */
section {
    overflow: hidden;
    margin-bottom: 100px;
}
/* Start Services Section */
.service-container {
    position: relative;
    width: 60%;
    overflow: hidden;
}
div.box {
    float: left;
    width: 50%;
    padding-right: 50px;
    padding-left: 50px;
}
div.box:nth-child(odd) {
    margin-right: 1px;
}
div.box:nth-child(even) {
    margin-left: -1px;
}
#d1, #d2, #d3, #d4 {
    font-size: 16px;
    padding: 10px;
    color: black;
    margin: auto;
}
.services-header {
    padding-top: 80px;
    -webkit-animation: fadein 1s;
}
.services-menu, .services-header {
    padding-bottom: 40px;
    text-align: center;
}
.services-menu li {
    padding: 10px;
    display: inline;
    color: gray;
    -webkit-animation: fadein 2s;
}
.services-menu-button {
    cursor: pointer;
    font-weight: normal;
}
.services-menu-button.active {
    text-decoration: underline;
}
.services-menu-button a {
    color: inherit;
    font-size: 15px;
}
.services-menu-button:hover a {
    color: black;
}
.service-two-info {
    -webkit-animation: fadein 4s;
}
.service-menu-title {
    font: bold;
    font-size: 16px;
}
.service-menu-description {
    margin-top: 30px;
    color: gray;
    font-size: 14px;
}
/* End Services Section */

/* Start Team Section */
.user-pic {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 100%;
    margin: 20px auto 20px;
    border-left: 3px solid #ddd;
    border-right: 3px solid #ddd;
    border-top: 3px solid #be9342;
    border-bottom: 3px solid #be9342;
    /* transform: rotate(-30deg); */
    transition: 0.5s;
}
.card-box:hover .user-pic {
    transform: rotate(0deg);
    transform: scale(1.1);
}
.card-box:hover h4 {
    font-size: 24.5px;
    transition: 0.5s;
}
.card-box:hover h6 {
    font-size: 16.5px;
    transition: 0.5s;
}
.card-box {
    padding: 15px;
    background-color: #fdfdfd;
    margin: 20px 0px;
    border-radius: 10px;
    border: 1px solid #eee;
    box-shadow: 0px 0px 8px 0px #d4d4d4;
    transition: 0.5s;
}
.card-box:hover {
	border: 1px solid #be9342;
}
.card-box p {
    color: #808080;
}
/* End Team Section */

/* Start About Section */
.about-section {
    overflow: hidden;
    text-align:center;
}
.about-item {
    padding-top: 50px;
    display: inline-block;
    width: 420px;
}
.about-item:hover h6 {
    font-size: 20.4px;
}
.about-item:hover p {
    font-size: 17.4px;
}
.about-title{
    font-size: 20px;
    font-weight: bold;
}
.about-description {
    font-size: 17px;
}
/* End About Section */


/* Start Gallery Section */
#portfolio {
    margin: auto;
    width: 85%;
    text-align-last: center;
    min-height: 100vh;
    background-color: rgba(225, 225, 225, 0.664);
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    grid-template-rows: 1fr 1fr;
    grid-gap: 22px;
}
.project {
    position: relative;
    background: #F2DAD7;
    overflow: hidden;
}
.project img {
    position: absolute;
    opacity: 0.9;
}
/*  project hover overlay */
  .project:hover .grid__overlay {
    transform: translateY(0%);
}
.grid__overlay {
    background: rgba(darken(#F2DAD7, 10%), .9);
    height: 100%;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    position: relative;
    display: grid;
    justify-items: center;
    align-items: center;
    transform: translateY(101%);
    transition: all 0.3s ease-in-out;
}
.grid__overlay button {
    background: none;
    outline: none;
    font-weight: 100;
    letter-spacing: 2px;
    border: 1px solid #be9342;
    color: white;
    text-transform: uppercase;
    padding: 10px;
}
.grid__overlay button:hover {
    transition: all 0.3s ease-in-out;
    background: white;
    color: #be9342;
    transform: scale(1.05);
}
/* //project popup overlay */
.overlay {
    position: fixed;
    background: rgba(#474545, 0.7);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    z-index: 3;
}
.overlay.open {
    display: grid;
    align-items: center;
    justify-items: center;
}
.overlay__inner {
    background: white;
    width: 700px;
    padding: 20px;
    position: relative;
    opacity: 1;
}
.close {
    position: absolute;
    top: 3px;
    right: 10px;
    background: none;
    outline: 0;
    color: #474545;
    border: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.close:hover {
    color: #be9342;
}
/* End Gallery Section */
/* ############################# End Sections #############################  */

@media screen and (max-width: 890px) {
    .navbar-brand {
        margin-left: 1em;
        transition: 0.6s;
    }
}
